
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz@0,14..32;1,14..32&family=Noto+Serif+Ottoman+Siyaq&display=swap');

.journal-page {
  font-family: sans-serif;
  animation: fadeIn 0.5s ease;
  
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.journal-entry-section {
  padding-top: 2rem;
  background: linear-gradient(to right, rgba(216, 180, 254, 0.8), rgba(240, 171, 252, 0.8));
  backdrop-filter: blur(4px); /* gives frosted glass effect */
  padding-bottom: 4rem;
}

.journal-entry-section::after { /* creates a fade-out effect of purple background at the bottom of the page*/
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: linear-gradient(to bottom, transparent, #d8b4fe);
  pointer-events: none;
}

.journal-header {
  text-align: center;
  margin-bottom: 2rem;
}

.journal-header h1 {
  font-family: "Noto Serif Ottoman Siyaq";
  font-size: 2.8rem;
  color: #6d28d9; /* vibrant purple for date header*/
  margin-top: 1rem;

  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}


.journal-header p {
  font-size: 1rem;
  color: #a1a1aa; /* muted neutral gray for subheading*/
  font-style: italic;
  letter-spacing: 0.3px;
  margin-top: 0.5rem;
}

.stats {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.stat-box {
  background-color: #f3f4f6;
  font-family: "Inter", sans-serif;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem; /* adds space between emoji/number and label */
  height: 90px; /* you can tweak this for consistency */
}

.stat-box:hover {
  background-color: #a8a8ad;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
  transition: all 0.2s ease;
}

.stat-box h2 {
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);

}

input[type="color"] {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  border: 1px solid #ccc;
}

.streak-icon {
  font-size: 2.5rem;
}